<mat-toolbar color="accent" *ngIf="route.snapshot.url[0]?.path !== 'home'">
  <span>MY SNAPS</span>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    (click)="gohome()"
    class="example-icon"
    aria-label="List of my posts"
  >
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
   
  </button>

  <button
    mat-button
    (click)="mypost()"
    class="example-icon"
    aria-label="List of my books"
  >
    My Posts
  </button>
  <button
    mat-button
    (click)="addpost()"
    class="example-icon"
    aria-label="List of my books"
  >
    Add Post
  </button>

 
</mat-toolbar>

<router-outlet></router-outlet> 


